#header{
	margin: 0.5em;
	text-align: center;
	font-family: Brush Script MT, cursive;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
}

#container {
	text-align: right;
	background-color: MistyRose;
	padding: 0.5em;
}

img{
	background-color: MistyRose;
}

#text{
	text-align: left;
}

h1{
	text-align: center;
	backgound-colour: MistyRose;
}

h2{
	font-size: 3em;
	font-family: Times New Roman, serif;
	font-style: italic;
	font-weight: bold;
	margin: 1.5em;
}

p{
	font-size: 1em;
	font-family: Times New Roman, serif;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

ul{
	font-size: 1em;
	font-family: Times New Roman, serif;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
